@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;800&display=swap');

* {
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    width: 100%;
}

.home-link {
    text-decoration: none;
    color: black;
}

@import "productNav.css";
@import "productDetails.css";
@import "otherProduct.css";
