@media (min-width: 400px) and (max-width: 767.98px) {
    .nav-desktop-home {
        display: none;
    }

    .nav-mobile-home {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.3em 3em;
        width: 100%;
        position: fixed;
        transition: all 0.25s ease-in-out;
        z-index: 100;
    }


    .black-color {
        color: black;
    }

    .white-color {
        color: white;
    }

    .nav-mobile-home-scrolled {
        display: flex;
        justify-content: space-between;
        padding: .7em 3em;
        width: 100%;
        position: fixed;
        transition: all 0.25s ease-in-out;
        background-color: white;
        z-index: 100;
    }

    .side-nav {
        position: fixed;
        right: 0;
        background-color: white;
        height: 100vh;
        width: 40%;
        z-index: 99;
        padding: 1.3em 2em;
        display: none;
    }

    .menu-list {
        padding: 0;
        margin-top: 3.5em;

    }

    .menu-item {
        list-style-type: none;
        color: rgb(112, 112, 112);
        margin-bottom: 2em;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .nav-desktop-home {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.3em 1em;
        /* border: 1px white solid; */
        min-width: 100%;
        position: fixed;
        transition: all 0.25s ease-in-out;
        z-index: 100;
    }

    .nav-scrolled-home {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.7em 1em;
        /* border: 1px white solid; */
        width: 100%;
        position: fixed;
        background-color: white;
        transition: all 0.25s ease-in-out;
        z-index: 100;
    }

    .nav-list-home {
        margin: 0;
        width: 100%;
    }

    .nav-item-home {
        list-style-type: none;
        font-weight: 100;
        display: inline;
        padding: 20px 5px;
        margin: 0;
        font-size: 1.1em;
        color: rgb(199, 199, 199);
        transition: all 0.25s ease-in-out;
    }

    .nav-item-home-scrolled {
        list-style-type: none;
        font-weight: 100;
        display: inline;
        padding: 20px 5px;
        margin: 0;
        font-size: 1.1em;
        color: rgb(100, 100, 100);
        transition: all 0.25s ease-in-out;
    }

    .nav-mobile-home {
        display: none;
    }

    .side-nav {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .nav-desktop-home {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.3em 3em;
        /* border: 1px white solid; */
        width: 100%;
        position: fixed;
        transition: all 0.25s ease-in-out;
        z-index: 100;
    }

    .nav-scrolled-home {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.7em 3em;
        /* border: 1px white solid; */
        width: 100%;
        position: fixed;
        background-color: white;
        transition: all 0.25s ease-in-out;
        z-index: 100;
    }

    .nav-list-home {
        margin: 0;
        width: 100%;
    }

    .nav-item-home {
        list-style-type: none;
        font-weight: 100;
        display: inline;
        padding: 20px 15px;
        margin: 0;
        font-size: 1.1em;
        color: rgb(199, 199, 199);
        transition: all 0.25s ease-in-out;
    }

    .nav-item-home-scrolled {
        list-style-type: none;
        font-weight: 100;
        display: inline;
        padding: 20px 15px;
        margin: 0;
        font-size: 1.1em;
        color: rgb(100, 100, 100);
        transition: all 0.25s ease-in-out;
    }

    .nav-mobile-home {
        display: none;
    }

    .side-nav {
        display: none;
    }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
    .nav-desktop-home {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.3em 5em;
        /* border: 1px white solid; */
        width: 100%;
        position: fixed;
        transition: all 0.25s ease-in-out;
        z-index: 100;
    }

    .nav-scrolled-home {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.7em 5em;
        /* border: 1px white solid; */
        width: 100%;
        position: fixed;
        background-color: white;
        transition: all 0.25s ease-in-out;
        z-index: 100;
    }

    .nav-list-home {
        margin: 0;
        width: 100%;
    }

    .nav-item-home {
        list-style-type: none;
        font-weight: 100;
        display: inline;
        padding: 20px 30px;
        margin: 0;
        font-size: 1.1em;
        color: rgb(199, 199, 199);
        transition: all 0.25s ease-in-out;
    }

    .nav-item-home-scrolled {
        list-style-type: none;
        font-weight: 100;
        display: inline;
        padding: 20px 30px;
        margin: 0;
        font-size: 1.1em;
        color: rgb(100, 100, 100);
        transition: all 0.25s ease-in-out;
    }

    .nav-mobile-home {
        display: none;
    }

    .side-nav {
        display: none;
    }
}

@media (min-width: 1400px) {
    .nav-desktop-home {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.3em 10em;
        width: 100%;
        position: fixed;
        transition: all 0.25s ease-in-out;
        z-index: 100;
    }

    .nav-scrolled-home {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.7em 8em;
        /* border: 1px white solid; */
        width: 100%;
        position: fixed;
        background-color: white;
        transition: all 0.25s ease-in-out;
        z-index: 100;
    }

    .nav-list-home {
        margin: 0;
        width: 100%;
    }

    .nav-item-home {
        list-style-type: none;
        font-weight: 100;
        display: inline;
        padding: 20px 35px;
        margin: 0;
        font-size: 1.1em;
        transition: all 0.25s ease-in-out;
    }

    .nav-item-home-scrolled {
        list-style-type: none;
        font-weight: 100;
        display: inline;
        padding: 20px 40px;
        margin: 0;
        font-size: 1.1em;
        transition: all 0.25s ease-in-out;
    }

    .nav-mobile-home {
        display: none;
    }

    .side-nav {
        display: none;
    }
}

.nav-title-home {
    font-weight: 400;
    transition: all 0.25s ease-in-out;
}

.nav-title-home span {
    font-weight: 600;
}

.nav-title-home-scrolled {
    color: black;
}

.logo-home {
    color: white;
}

.nav-item-home a:hover {
    color: white;
    transform: translateY(-2px);
    transition: all 0.3s ease-out;
}

.nav-item-home-scrolled a:hover {
    color: rgb(0, 0, 0);
    transform: translateY(-2px);
    transition: all 0.3s ease-out;
}


a.nav-link-home {
    text-decoration: none;
    display: inline;
    color: rgb(199, 199, 199);
}

.nav-item-home a.active {
    color: white;
    /* transition: all 0.25s ease-in-out; */
}

a.nav-link-home-scrolled {
    text-decoration: none;
    display: inline;
    color: rgb(100, 100, 100);
}

.nav-item-home-scrolled a.active {
    color: black;
}

.login {
    text-decoration: none;
    background-color: white;
    color:black;
    padding: .5em 1.3em;
    border-radius: 100px;
    font-weight: 600;
    transition: all .35s ease-in-out;
}

.login:hover {
    background-color: black;
    color: white;
    transition: all .35s ease-in-out;
}
